<div class="wrapper">
      <div class="header">
          <div class="header header-filter" style="background-color: blue ">
              <div class="container" style="height:250px">
                <div class="section text-center section-landing">
                  <h1  class="title"  style="padding-top:50px;">{{category}}</h1>
                  <p>Esto es otra vista</p>
                </div>
              </div>
          </div>
      </div>
      <!-- you can use the class main-raised if you want the main area to be as a page with shadows -->
      <div class="main main-raised">
        <div class="container">
          <div class="section text-center">
            <div class="row">
                <div class="col-md-6">
                  <!--<h4 class="title">producto #1 <h4>-->
                  <div class="profile">
                    <div class="name">
                        <h3 class="title">{{product1}}</h3>
                          <h6> ID {{p1ID}} </h6>
                    </div>
                      <div class="avatar">
                          <img src="http://www.disneyturkiye.com.tr/disney-channel/sites/default/files/local_territories/sv-SE/characters/emea_gf_cc_char_mabel.png"
                           alt="Circle Image" class="img-rounded img-raised img-center" style="height:150px; width:150px">
                      </div>
                  </div>
                </div>

                <!--separacion entre products-->


                <div class="col-md-6">
                  <div class="profile">
                    <div class="name">
                        <h3 class="title">{{product2}}</h3>
                          <h6>ID {{p2ID}}</h6>
                    </div>
                      <div class="avatar">
                          <img src="http://k46.kn3.net/taringa/2/B/4/6/3/5/juanpablo677/0B4.png"
                           alt="Circle Image" class="img-rounded img-raised img-center" style="height:150px; width:150px">
                      </div>
                  </div>
                </div>
            </div>

            <!--descripciones amplias-->
            <div class="row" style="padding-top:30px">
              <div class="col-md-6">
                <div class="description text-center">
                      <p> {{descp1}} </p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="description text-center">
                      <p>{{descp2}}</p>
                </div>
              </div>
            </div>

            <!--satisfaccion-->
            <div class="row" style="padding-top:40px">
              <div class="col-md-6">
                <h6>Nivel de Satisfacción </h6>
                <div class="progress">
                	<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{percentageP1}}%;">
                	<span class="sr-only">{{percentageP1}}% Complete</span>
                	</div>
                  </div>
              </div>
              <div class="col-md-6">
                <h6>Nivel de Satisfacción </h6>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{percentageP2}}%;">
                  <span class="sr-only">70% Complete</span>
                  </div>
                  </div>
              </div>
            </div>




            <div class="row">

              <!--Pros y Cons PRODUCTO 1-->
              <div class="col-md-6">
                <div class="nav-align-center">
                <ul class="nav nav-pills nav-pills-info" role="tablist">
                	<li class="active">
                		<a data-target="#pros2" role="tab" data-toggle="tab">
                			<i class="material-icons">thumb_up</i>
                			  Lo Positivo
                		</a>
                	</li>
                	<li>
                		<a data-target="#cons2" role="tab" data-toggle="tab">
                			<i class="material-icons">thumb_down</i>
                      Lo Negativo
                		</a>
                	</li>
                </ul>

                <!-- contenido de los tabbed paneles -->
                <div class="tab-content" style="padding-top:40px">

                  <!-- the good ones -->
                  <div class="tab-pane active" id="pros2">
                    <div class="row">
                        <div class="gallery">
                          <div class="col-md-12">

                            <div ng-repeat = "comment in commentsP1">
                              <div ng-if="comment.type == 'pos'">
                                <div class="alert alert-success" role="alert">
                                  <p>{{comment.body}}</p>
                                  <p style="text-align:right">-{{comment.author}}</p>
                                </div>
                              </div>
                            </div>

                          </div>

                        </div>
                      </div>
                  </div>

                    <!-- the bad ones -->
                  <div class="tab-pane" id="cons2">
                    <div class="row">
                      <div class="gallery">
                        <div ng-repeat = "comment in commentsP1">
                          <div ng-if="comment.type == 'neg'">
                            <div class="alert alert-danger" role="alert">
                              <p>{{comment.body}}</p>
                              <p style="text-align:right">-{{comment.author}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>


              <!--Pros y Cons PRODUCTO 2-->
              <div class="col-md-6">
                <div class="nav-align-center">
                <ul class="nav nav-pills nav-pills-info" role="tablist">
                	<li class="active">
                		<a data-target="#pros" role="tab" data-toggle="tab">
                			<i class="material-icons">thumb_up</i>
                			  Lo Positivo
                		</a>
                	</li>
                	<li>
                		<a data-target="#cons" role="tab" data-toggle="tab">
                			<i class="material-icons">thumb_down</i>
                      Lo Negativo
                		</a>
                	</li>
                </ul>

                <!-- contenido de los tabbed paneles -->
                <div class="tab-content" style="padding-top:40px">

                  <!-- the good ones -->
                  <div class="tab-pane active" id="pros">
                    <div class="row">
                        <div class="gallery">
                          <div class="col-md-12">

                            <div ng-repeat = "comment in commentsP2">
                              <div ng-if="comment.type == 'pos'">
                                <div class="alert alert-success" role="alert">
                                  <p>{{comment.body}}</p>
                                  <p style="text-align:right">-{{comment.author}}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>

                    <!-- the bad ones -->
                  <div class="tab-pane" id="cons">
                    <div class="row">
                      <div class="gallery">
                        <div ng-repeat = "comment in commentsP2">
                          <div ng-if="comment.type == 'neg'">
                            <div class="alert alert-danger" role="alert">
                              <p>{{comment.body}}</p>
                              <p style="text-align:right">-{{comment.author}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>

            <!-- boton reseña -->
            <div class="row" ng-show="session">
                <div class="col-md-6">
                    <a href="#!/rating/{{p1ID}}" class="btn btn-primary btn-round btn-danger"> Dejar una reseña</a>
                </div>
                <div class="col-md-6">
                    <a href="#!/rating/{{p2ID}}" class="btn btn-primary btn-round btn-danger" > Dejar una reseña</a>
                </div>

            </div>

            <!-- inicia sesion para dejar comentarios -->
            <div class="row" ng-hide="session">
                <div class="col-md-12">
                  <h3 class="text-center title">Haz ulitizado o alguno de estos productos? </h3>
                  <div class="form-group">
                        <p> Ayuda a otros usuarios a enterarse de las ventajas o desventajas de estos productos. Comparte tu experiencia dejando una reseña, solo tienes que:</p>
                          <p><a href="#!/signup"> Registrarte </a> ó si ya tienes cuenta en Rathem <a href="#!/login"> Inicia Sesión </a> </p>

                  </div>
                </div>

            </div>



          </div>
        <div class="section text-center">

      </div>
    </div>
  </div>
</div>
