
<div class="wrapper">

  <div class="header">
  </div>

  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">

              <!--content starts here-->
              <h2>Registrate</h2>

            <form ng-submit="signup()">
              <div class="form-group">
                  <input type="text" value="" placeholder="Username" class="form-control" ng-model="form.user"/>
                  <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
              </div>
              <div class="form-group">
                  <input type="password" value="" placeholder="Password" class="form-control" ng-model="form.password" />
                  <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
              </div>

              <div class="form-group">
                  <input type="text" name="firstName" id="firstName" placeholder="First Name" class="form-control" ng-model="form.firstname" />
                  <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
              </div>

              <div class="form-group">
                  <input type="text" name="lastName" id="Text1" placeholder="Last Name" class="form-control" ng-model="form.lastname" />
                  <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
              </div>
              <div class="form-group">
                  <input type="text" name="email" placeholder="Email" class="form-control" ng-model="form.email" />
                  <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
              </div>

              <div class="form-actions">
                  <button type="submit" class="btn btn-info" ng-disabled="form.$invalid || vm.dataLoading">Register </button>
                  <a href="#/login" class="btn btn-link">Cancelar</a>
              </div>
            </form>

      </div>
    </div>
  </div>
  </div>
  </div>
</div>
