<div class="wrapper">
      <div class="header">
          <div class="header header-filter" style="background-image: url('http://cdn.wallpapersafari.com/56/63/w4zp3F.jpg'); background-size: cover; background-position: top center;">
              <div class="container" style="height:250px">
                <div class="section text-center section-landing">
                  <h1  class="title"  style="color:#ffeb53;padding-top:50px;"> Deja una Reseña</h1>
                  
                </div>
              </div>
          </div>
        </div>

		<div class="main main-raised">
			<div class="container" ng-controller="ListController as listCtrl">

				<div class="row">
				<!-- Imagen del item de la reseña -->
                    <div class="col-md-8 col-md-offset-2">
                        <img class="responsive-img" src="http://placehold.it/420x750" style="height:420px; width:750px;padding-top:50px"></img>
                    </div>
                </div>

				<div class="section text-center section-landing">
					<div class="row">
	                    <div class="col-md-8 col-md-offset-2">
	                        <h2 class="title">{{prod.name}}</h2>
	                        <h5 class="description">{{prod.desc}}</h5>
	                    </div>
	                </div>
				</div>

				<!-- <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        
                    </div>
                </div> -->

				<div class="row">
					<div class="col-md-1 col-md-offset-1">
						<h5 class="title">Puntuación</h2>
					</div>
				
	                <div class="col-md-8 " style="padding-top: 20px;">
		                <div class="progress">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{listCtrl.getPercentage(listCtrl.phones[listCtrl.index].score)}}" aria-valuemin="0" aria-valuemax="100" style="width: {{getPercentage(prod.avg)}}%;">
							</div>
						</div>
					</div>
					<div class="col-md-1" style="padding-top: 10px;">
						<p>{{prod.avg}}</p>
					</div>
				</div>

				<div class="section text-center">



					<div class="row">
	                    <div class="col-md-8 col-md-offset-2">
	                        <h2 class="title">Realizar Comentarios</h2>
	                    </div>
	                </div>
	                
	                <!-- <span>{{listCtrl.phones[listCtrl.index].carrier}}</span> -->
	                <form name="reviewForm" ng-controller="FormControllerT as formCtrl" ng-submit="addReview()">
	                <blockquote ng-repeat="rev in reviewsT">
						{{rev.body}}
						<i class="material-icons">{{getIcon(rev.type)}}</i>
					</blockquote>
	                <!-- live preview -->
					<blockquote>
						{{review.body}}
						<!-- <footer class="blockquote-footer"><cite>{{formCtrl.review.author}}</cite></footer> -->
						<i class="material-icons">{{getIcon(review.type)}}</i>
					</blockquote>

	                <!-- review form -->
						<fieldset class="form-group">
							<textarea class="form-control" ng-model="review.body"></textarea>
							<!-- <label>Author:</label>
							<input type="email" class ="form-control" placeholder="email@.com" ng-model="formCtrl.review.author"/> -->

						    <label class="checkbox-inline">
					            <input type="checkbox" class="hidden" name="revType" ng-model="review.type" ng-init="review.type='pos'" ng-true-value='"pos"' ng-false-value='"neg"'>
					            <i class="material-icons">{{getIcon(review.type)}}</i>
					        </label>

						</fieldset>
						<fieldset class="form-group">
							<input type="submit" class="btn btn-primary pull-right" value="Add"/>
							<button class="btn btn-primary pull-right" ng-click="sendReview()">Send</button>
						</fieldset>
					</form>


					<div class="row">
	                    <div class="col-md-8 col-md-offset-2">
	                        <h2 class="title">Tu Puntuación</h2>
	                        <h2 class="title" style="color: #9999FF;">{{prod.uscore}}</h2>
	                    </div>
	                </div>

	                <form name="scoreForm" ng-controller="ScorerController as sCtrl" ng-submit="setScore(nScore)">
	                	<label>Modificar: 
				           	<input type="number" name="input" ng-model="nScore" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1" min="0" max="5" required />
						 </label>
						 <div role="alert">
					    <span class="error" ng-show="myForm.input.$error.number">
					      Numero invalido</span>
					  </div>
					  <input type="submit" class="btn btn-primary pull-right" value="Enviar"/>
	                </form>
	                <!-- <textarea class="form-control" placeholder="Place a new comment" rows="5"></textarea>

	                <button class="btn btn-default">Enviar</button> -->

	                <div class="section text-center">
						<div class="row">
		                    <div class="col-md-8 col-md-offset-2">
			                       <h3 class="title">Tus Comentarios Realizados</h2>
			                </div>
			            </div>
					</div>


					<blockquote ng-repeat="rev in prod.comments">
						{{rev.body}}
						<!-- <footer class="blockquote-footer"><cite>{{review.author}}</cite></footer> -->
						<i class="material-icons">{{getIcon(rev.type)}}</i>
					</blockquote>


					

				</div>

			</div>
		</div>
	</div>
