<div class="wrapper">
      <div class="header">
          <div class="header header-filter" style="background-color: blue ">
              <div class="container" style="height:250px">
                <div class="section text-center section-landing">
                  <h1  class="title"  style="padding-top:50px;"> Deja una Reseña</h1>
                  <p>Esto es otra vista</p>
                </div>
              </div>
          </div>
        </div>

		<div class="main main-raised">
			<div class="container" ng-controller="ListController as listCtrl">

				<div class="row">
				<!-- Imagen del item de la reseña -->
                    <div class="col-md-8 col-md-offset-2">
                        <img class="responsive-img" src="{{listCtrl.phones[listCtrl.index].imageUrl}}" style="height:420px; width:650px;padding-top:50px"></img>
                    </div>
                </div>

				<div class="section text-center section-landing">
					<div class="row">
	                    <div class="col-md-8 col-md-offset-2">
	                        <h2 class="title">{{listCtrl.phones[listCtrl.index].name}}</h2>
	                        <h5 class="description">{{listCtrl.phones[listCtrl.index].snippet}}</h5>
	                    </div>
	                </div>
				</div>

				<div class="section text-center">

					<div class="row">
	                    <div class="col-md-8 col-md-offset-2">
	                        <h2 class="title">Tus Comentarios</h2>
	                    </div>
	                </div>
	                
	                <!-- <span>{{listCtrl.phones[listCtrl.index].carrier}}</span> -->
	                <form name="reviewForm" ng-controller="FormController as formCtrl" ng-submit="formCtrl.addReview(listCtrl.phones[listCtrl.index])">
	                <!-- live preview -->
					<blockquote>
						{{formCtrl.review.body}}
						<footer class="blockquote-footer"><cite>{{formCtrl.review.author}}</cite></footer>
					</blockquote>

	                <!-- review form -->
						<fieldset class="form-group">
							<textarea class="form-control" ng-model="formCtrl.review.body"></textarea>
							<label>Author:</label>
							<input type="email" class ="form-control" placeholder="email@.com" ng-model="formCtrl.review.author"/>
						</fieldset>
						<fieldset class="form-group">
							<input type="submit" class="btn btn-primary pull-right" value="Submit"/>
						</fieldset>
					</form>


	                <!-- <textarea class="form-control" placeholder="Place a new comment" rows="5"></textarea>

	                <button class="btn btn-default">Enviar</button> -->

	                <div class="section text-center">
						<div class="row">
		                    <div class="col-md-8 col-md-offset-2">
			                       <h3 class="title">Comentarios Realizados</h2>
			                </div>
			            </div>
					</div>


					<blockquote ng-repeat="review in listCtrl.phones[listCtrl.index].reviews">
						{{review.body}}
						<footer class="blockquote-footer"><cite>{{review.author}}</cite></footer>
					</blockquote>


					<div class="row">
	                    <div class="col-md-8 col-md-offset-2">
	                        <h2 class="title">Puntuación</h2>
	                    </div>
	                </div>

					<div class="row">
		                <div class="col-md-8 col-md-offset-1">
			                <div class="progress">
								<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
								<span class="sr-only">75%% Complete</span>
								</div>
							</div>
						</div>
						<div class="col-md-1">
							<p>4/5</p>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
